In [4]:
from sqlalchemy import create_engine,Table,Column,Integer,String,MetaData,ForeignKey
import pandas as pd

In [5]:
%%html
<style>
.output_wrapper, .output {
    height:auto !important;
    max-height:10000px;  /* your desired max-height here */
}
.output_scroll {
    box-shadow:none !important;
    webkit-box-shadow:none !important;
}
</style>

In [6]:
engine = create_engine("mysql+pymysql://feed_monitor:FeedMonitor2018@feed.feed_monitor.rds.sogou:3306/feed_monitor", 
                        encoding="utf-8", 
                        echo=False)

In [7]:
engine.execute('show tables').fetchall()

[('account_weight',),
 ('analysis_feed_rec_base',),
 ('case_analysis_analyze',),
 ('case_analysis_class',),
 ('case_analysis_dont_click_reason',),
 ('case_analysis_queue',),
 ('case_analysis_solve',),
 ('click_history',),
 ('dwb_monitor',),
 ('dwd_monitor',),
 ('evaluate_article',),
 ('explorer_rec_reason_article',),
 ('feed_abtest',),
 ('feed_abtest_article',),
 ('feed_abtest_article_hour',),
 ('feed_abtest_article_v6511',),
 ('feed_abtest_daily',),
 ('feed_abtest_hour',),
 ('feed_abtest_hourly',),
 ('feed_abtest_video_type_common_daily',),
 ('feed_abtest_video_type_common_hourly',),
 ('feed_article',),
 ('feed_article_hour',),
 ('feed_biz_ad_pos_abtestid',),
 ('feed_biz_sum_data',),
 ('feed_biz_sum_season_data',),
 ('feed_card_article',),
 ('feed_channel',),
 ('feed_channel_article',),
 ('feed_channel_hourly',),
 ('feed_click_repeat_daily',),
 ('feed_click_repeat_hourly',),
 ('feed_click_user_remain',),
 ('feed_click_user_remain_ge6511',),
 ('feed_cold_start_daily',),
 ('feed_cold_start_daily_1',),
 ('feed_cold_start_user_remain',),
 ('feed_comment',),
 ('feed_comment_new',),
 ('feed_comment_show',),
 ('feed_cover_monitor',),
 ('feed_data_source',),
 ('feed_datasource_article',),
 ('feed_deduper_line_num',),
 ('feed_deep_read',),
 ('feed_diversity_daily',),
 ('feed_diversity_hourly',),
 ('feed_dm.winput_icon_push_statistics',),
 ('feed_duration_median',),
 ('feed_kv_keys_num',),
 ('feed_news_article',),
 ('feed_nginx_line_num',),
 ('feed_ori_distribution_obj',),
 ('feed_ori_distribution_obj_test',),
 ('feed_ori_distribution_obj_test2',),
 ('feed_ori_distribution_obj_test_1',),
 ('feed_professional_user_remain',),
 ('feed_province',),
 ('feed_province_article',),
 ('feed_readtimes_remain',),
 ('feed_rec_reason_abtest',),
 ('feed_rec_reason_abtest_article',),
 ('feed_rec_reason_common_hourly',),
 ('feed_rec_reason_hourly',),
 ('feed_relative',),
 ('feed_relative_hourly',),
 ('feed_short_video',),
 ('feed_source_type_data',),
 ('feed_topic',),
 ('feed_topic_article',),
 ('feed_total',),
 ('feed_total_daily',),
 ('feed_total_daily_professional',),
 ('feed_total_daily_professional_detail',),
 ('feed_total_daily_professional_temp',),
 ('feed_total_hour',),
 ('feed_total_summary_daily',),
 ('feed_total_summary_daily_copy1',),
 ('feed_unclick_user_duration_total_daily',),
 ('feed_unclick_user_total_daily',),
 ('feed_union_key_index',),
 ('feed_user_remain',),
 ('feed_version',),
 ('feed_video_type_obj',),
 ('feed_weekly_article',),
 ('imfeed_abtest',),
 ('imfeed_future_freq_remain',),
 ('imfeed_persona_num',),
 ('imfeed_remain',),
 ('imfeed_sep_persona_num',),
 ('imfeed_sgsapp_intersection',),
 ('imfeed_sgsapp_intersection_push_test',),
 ('imfeed_sgsapp_non_intersection_push_test',),
 ('imfeed_test',),
 ('imfeed_total',),
 ('imfeed_winput_intersection',),
 ('imhw_user',),
 ('imhw_user_num',),
 ('kv_appid_namespace',),
 ('lb_data',),
 ('lb_data_version',),
 ('manual_debug_user',),
 ('model_feature_check',),
 ('monitor_file',),
 ('monitor_online1',),
 ('newh5_operation_basic',),
 ('newh5_operation_change',),
 ('newh5_operation_gold',),
 ('newh5_operation_task',),
 ('newh5_operation_withdrawal',),
 ('origin_monitor',),
 ('pc_impop',),
 ('pc_impop_abtest',),
 ('pc_impop_abtest_biaogan',),
 ('pc_impop_channel_pos',),
 ('pc_impop_jp',),
 ('pc_impop_jp_obj',),
 ('pc_impop_loc',),
 ('pc_impop_sfsw',),
 ('pc_impop_total',),
 ('quickapp_brand_article',),
 ('quickapp_user',),
 ('rec_reason_distributed',),
 ('shida_operation_amount',),
 ('shida_operation_basic',),
 ('shida_operation_change',),
 ('shida_operation_gold',),
 ('shida_operation_order',),
 ('shida_operation_task',),
 ('shida_operation_withdrawal',),
 ('shida_sdk_abtestid_article',),
 ('shida_sdk_channel_article',),
 ('shida_sdk_datasource_article',),
 ('shida_sdk_topic_article',),
 ('winput_icon_push_statistics',),
 ('winput_user_effect',),
 ('zc_novel',)]

In [67]:
x = engine.execute("select title from feed_article limit 10").fetchall()[0][0].encode('latin-1').decode('gbk')
x

'陈翔六点半：员工不满老板的做法，直接问老板为什么，结果搞笑了'

In [72]:
engine.execute("select * from feed_article_hour where datetime='201901202100' limit 10").fetchall()

[('sgsapp', 'total', '000017ee4dd7fcd9c0dad06c58d5d67c', '¿¿Æ×ÈÏÕæ£¬ÎÒµÄ¸öÐÔ£¬ÎÒÊÇÕæµÄ·Ç³£¿¿Æ×£¬ÕæµÄ£¬Æ·Î¶²»Õ¦µÎ£¬Ò²ÓÐ¿´×ßÑÛµÄÊ±ºò£¬ÓÈÆäÊÇÈË!', 'http://resource.yaokan.sogoucdn.com/videodown/5e9f/421/4e21249686d26b4bda25b824b8db4a35.mp4', 'null', 15, 14, 13, 12, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '20190120', '201901202100'),
 ('sgsapp', 'total', '00051aff2c46be30620e581943eb57d0', '-', '-', '-', 0, 0, 12, 9, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '20190120', '201901202100'),
 ('sgsapp', 'total', '00082a1e9b60f48407689afab55a9472', '-', '-', '-', 0, 0, 11, 10, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '20190120', '201901202100'),
 ('sgsapp', 'total', '000b1fb840011a311c75a37f66a5992c', '-', '-', '-', 0, 0, 11, 6, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '20190120', '201901202100'),
 ('sgsapp', 'total', '000d42075e5d57334d21266fd8aec49a', '-', '-', '-', 0, 0, 15, 7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '20190120', '201901202100'),
 ('sgsapp', 'total', '0015f55f19d265ace239f3691a4c6e89', '°×Â¹Ô\xad£ºÌïÐ¡¶ð¶öµÃÌ±µ¹ÔÚ´²£¬»¹Ïë×ÅÕâÐ©ÊÂ£¬Ð¢ÎÄÈ´ÕâÑùËµ!', 'http://resource.yaokan.sogoucdn.com/video/fef0/929/9d296106fb39319688ff8a64ea9f8611.mp4', 'ÓéÀÖ', 244, 165, 18, 17, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '20190120', '201901202100'),
 ('sgsapp', 'total', '001dcc2999dcf50f57e83563b1de1ccf', 'Ê¯°ßÓãÒ»¿ÚÍÌµôöèÓã£¬Ö®ºó±ãÑ¸ËÙÏÂ³Á£¬²»¼ûÁË×ÙÓ°', 'http://resource.yaokan.sogoucdn.com/video/fef0/527/527f6629cdbc40f51afd9aeeb4f715d2.mp4', '¿ÆÆÕ', 535, 527, 41, 38, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '20190120', '201901202100'),
 ('sgsapp', 'total', '002c8a801562e713eefc2d58e24b7262', 'ÍõÕßÈÙÒ«µÚÒ»¸öÄÜÒþÉíµÄÀÏÓ¢ÐÛ£¬Ëû×î³õµÄ¼¼ÄÜÄã»¹¼ÇµÃÂð?', 'http://resource.yaokan.sogoucdn.com/video/fef0/778/778d017288ac7363d1ca5296298bdbb3.mp4', 'ÓÎÏ·', 225, 221, 15, 15, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '20190120', '201901202100'),
 ('sgsapp', 'total', '004ce5e67a046c7220e71ec8cd711691', '¸µÐ¡Ë¾Â½Ö®°º»¥³Ô¶Ô·½×öµÄ²Ë£¬»¹Ã»³ÔÏÈÀ´Ò»Õóí¡£¬³ÔÍêÁË¾ÍÊÇÕæÏã', 'http://resource.yaokan.sogoucdn.com/video/fef0/742/7e4f2304dd4e42b6d0eb599a7433b9e3.mp4', 'ÓéÀÖ', 259, 142, 29, 28, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, '20190120', '201901202100'),
 ('sgsapp', 'total', '0059e8f400dfe49d381884f0bd78d187', '¹ØÓÚÐ¡³ô×Ó¡ª¡ª¸¸×ÓÊ±¹â', 'http://resource.yaokan.sogoucdn.com/videodown/5e9f/120/12a0ce7465b0267239b7c57819ba4b73.mp4', 'null', 14, 14, 11, 9, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, '20190120', '201901202100')]

In [74]:
engine.execute('show full columns from feed_article').fetchall()

[('product', 'varchar(50)', 'utf8_general_ci', 'NO', 'PRI', '', '', 'select,insert,update,references', ''),
 ('data_obj', 'varchar(200)', 'utf8_general_ci', 'NO', 'PRI', '', '', 'select,insert,update,references', ''),
 ('docid', 'varchar(200)', 'utf8_general_ci', 'NO', 'PRI', '', '', 'select,insert,update,references', ''),
 ('title', 'varchar(10000)', 'utf8_general_ci', 'YES', '', None, '', 'select,insert,update,references', ''),
 ('url', 'varchar(10000)', 'utf8_general_ci', 'YES', '', None, '', 'select,insert,update,references', ''),
 ('dis', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('dis_user', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('click', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('click_user', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('acomment', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('comment_user', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('alike', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('like_user', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('favor', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('favor_user', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('ashare', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('share_user', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('unlike', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('unlike_user', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('date', 'char(8)', 'utf8_general_ci', 'NO', 'PRI', '', '', 'select,insert,update,references', ''),
 ('topic', 'varchar(200)', 'utf8_general_ci', 'YES', '', None, '', 'select,insert,update,references', '')]

In [77]:
engine.execute('show full columns from feed_abtest_video_type_common_daily').fetchall()

[('id', 'int(11)', None, 'NO', 'PRI', None, 'auto_increment', 'select,insert,update,references', ''),
 ('product', 'varchar(50)', 'utf8_general_ci', 'NO', 'MUL', '', '', 'select,insert,update,references', ''),
 ('video_type', 'varchar(50)', 'utf8_general_ci', 'YES', '', None, '', 'select,insert,update,references', ''),
 ('abtest', 'varchar(50)', 'utf8_general_ci', 'YES', '', None, '', 'select,insert,update,references', ''),
 ('os', 'varchar(50)', 'utf8_general_ci', 'NO', '', '', '', 'select,insert,update,references', ''),
 ('user_obj', 'varchar(50)', 'utf8_general_ci', 'NO', '', '', '', 'select,insert,update,references', ''),
 ('data_obj', 'varchar(255)', 'utf8_general_ci', 'NO', '', '', '', 'select,insert,update,references', ''),
 ('dis', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('dis_user', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('refresh_times', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('real_dis', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('real_dis_user', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('click', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('click_user', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('praise', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('favor', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('unlike', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('share', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('click_back', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('click_back_user', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('duration', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('finished', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('back_duration', 'bigint(11)', None, 'YES', '', None, '', 'select,insert,update,references', ''),
 ('list_duration', 'bigint(11)', None, 'YES', '', None, '', 'select,insert,update,references', ''),
 ('date', 'char(8)', 'utf8_general_ci', 'NO', '', '', '', 'select,insert,update,references', '')]

In [78]:
 engine.execute(f"show full columns from feed_comment").fetchall()

[('data_obj', 'varchar(100)', 'utf8_general_ci', 'YES', '', None, '', 'select,insert,update,references', ''),
 ('comment_sum', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('local_comment_sum', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('other_comment_sum', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('date', 'char(8)', 'utf8_general_ci', 'YES', '', None, '', 'select,insert,update,references', '')]

In [79]:
 engine.execute(f"show full columns from feed_comment_new").fetchall()

[('data_name', 'varchar(100)', 'utf8_general_ci', 'NO', 'PRI', '', '', 'select,insert,update,references', ''),
 ('crawl_cnt', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('audit_pass_cnt', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('doc_cnt', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('doc_cmt_cnt_7_day', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('doc_cnt_7_day', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('doc_cmt_cnt_7_day_total', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('doc_cnt_7_day_total', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('show_doc_cmt_cnt', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('show_doc_cnt', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('show_doc_cmt_cnt_7_day', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('show_doc_cnt_7_day', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('doc_cnt_7_day_seed_total', 'int(11)', None, 'NO', '', '0', '', 'select,insert,update,references', ''),
 ('date', 'char(8)', 'utf8_general_ci', 'NO', 'PRI', '', '', 'select,insert,update,references', '')]

In [80]:
import pandas as pd

In [133]:
res = engine.execute(f"show full columns from feed_abtest_video_type_common_daily")
colnames = [x[0] for x in res.fetchall()]
colnames[1] = 'product_name'

In [134]:
colnames

['id',
 'product_name',
 'video_type',
 'abtest',
 'os',
 'user_obj',
 'data_obj',
 'dis',
 'dis_user',
 'refresh_times',
 'real_dis',
 'real_dis_user',
 'click',
 'click_user',
 'praise',
 'favor',
 'unlike',
 'share',
 'click_back',
 'click_back_user',
 'duration',
 'finished',
 'back_duration',
 'list_duration',
 'date']

In [135]:
res = engine.execute(f"select * from feed_abtest_video_type_common_daily where date BETWEEN '20200106' AND '20200112'")
df = pd.DataFrame.from_dict(res)
df.columns = colnames

In [141]:
df[df.date=='20200106'][df.product_name=='sgsapp'][df.abtest=='16'][df.data_obj=='total_total'][df.video_type=='0']

/home/gezi/env/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,id,product_name,video_type,abtest,os,user_obj,data_obj,dis,dis_user,refresh_times,...,favor,unlike,share,click_back,click_back_user,duration,finished,back_duration,list_duration,date
24,73232,sgsapp,0,16,ios,new,total_total,20816,889,2054,...,0,1,8,156,62,10139,18,0,0,20200106
231,73646,sgsapp,0,16,ios,old,total_total,344590,10698,28099,...,73,30,74,14654,2015,2312426,2356,0,0,20200106
309,73802,sgsapp,0,16,android,old,total_total,5518021,114511,434174,...,3680,1527,1617,246502,33996,24367903,116840,0,0,20200106
787,74758,sgsapp,0,16,android,new,total_total,288467,9759,28296,...,15,39,28,10149,2104,263640,1281,0,0,20200106

In [33]:
set(df.video_type.values)

{'-1', '0', '1', '2', 'NULL', 'total'}

In [34]:
set(df.data_obj.values)

{'quality_recommend',
 'quality_relative',
 'quality_total',
 'total_recommend',
 'total_relative',
 'total_total'}

In [125]:
res = engine.execute(f"show full columns from feed_abtest_video_type_common_hourly")
colnames = [x[0] for x in res.fetchall()]
colnames[1] = 'product_name'

In [126]:
res = engine.execute(f"select * from feed_abtest_video_type_common_hourly where date BETWEEN '20200106' AND '20200112' AND abtest = 'total'")
df = pd.DataFrame.from_dict(res)
df.columns = colnames

In [127]:
df

,id,product_name,video_type,abtest,data_obj,dis,dis_user,refresh_times,real_dis,real_dis_user,...,praise,favor,unlike,share,click_back,click_back_user,duration,finished,date,datetime
0,365450,sgsapp,0,total,quality_recommend,2193313,103332,185041,1165785,101995,...,428,2401,869,706,137971,33923,12062755,74272,20200106,2020010600
1,365452,sgsapp,1,total,quality_recommend,888276,101833,22729,236244,35612,...,67,114,126,13,22146,9883,2842455,329,20200106,2020010600
2,365454,sgsapp,2,total,quality_recommend,329747,21602,127,15880,6856,...,95,10,2,0,4483,1230,71585,3049,20200106,2020010600
3,365456,sgsapp,NULL,total,quality_recommend,0,0,0,0,0,...,0,0,0,0,0,0,0,0,20200106,2020010600
4,365618,sgsapp,total,total,quality_recommend,3411336,103332,207897,1503846,124643,...,637,2676,1030,765,171854,39973,16039810,80791,20200106,2020010600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10049,1118418,sgsapp,1,total,total_total,5924473,298766,78358,831440,133160,...,636,980,451,412,346475,35889,28598601,45112,20200112,2020011223
10050,1118420,sgsapp,2,total,total_total,987861,53266,2597,49230,19355,...,823,28,13,2,70007,3296,1051932,34909,20200112,2020011223
10051,1118422,shida,0,total,total_total,469233,12209,41699,239486,11667,...,0,593,5,211,39202,8135,4901209,39202,20200112,2020011223
10052,1118424,shida,1,total,total_total,179983,11979,21851,87714,9017,...,0,111,0,333,23217,5192,2876508,23217,20200112,2020011223
10053,1118426,shida,2,total,total_total,243397,8649,10750,32379,3824,...,1,0,0,0,29713,902,113091,29713,20200112,2020011223

In [114]:
res = engine.execute(f"show full columns from feed_abtest_video_type_common_daily")
colnames = [x[0] for x in res.fetchall()]
colnames[1] = 'product_name'
res = engine.execute('''
        SELECT * FROM feed_abtest_video_type_common_daily 
        WHERE product = 'sgsapp'
        AND abtest in ('8','16') 
        ''')

In [115]:
df = pd.DataFrame.from_dict(res)
df.columns = colnames
df

,id,product_name,video_type,abtest,os,user_obj,data_obj,dis,dis_user,refresh_times,...,favor,unlike,share,click_back,click_back_user,duration,finished,back_duration,list_duration,date
0,7000,sgsapp,-1,16,android,new,quality_total,97,61,0,...,0,0,0,0,0,0,0,0,0,20191227
1,25336,sgsapp,-1,16,android,new,quality_total,184,117,0,...,0,0,0,0,0,0,0,0,0,20191231
2,16098,sgsapp,-1,16,android,new,quality_total,78,55,0,...,0,0,0,0,0,0,0,0,0,20200101
3,43836,sgsapp,-1,16,android,new,quality_total,72,45,0,...,0,0,0,0,0,0,0,0,0,20200102
4,53064,sgsapp,-1,16,android,new,quality_total,30,25,0,...,0,0,0,0,0,0,0,0,0,20200103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2479,88446,sgsapp,total,8,ios,old,total_total,613313,10982,31964,...,186,88,67,21420,2121,2909201,5436,0,0,20200107
2480,97820,sgsapp,total,8,ios,old,total_total,652761,11263,33160,...,116,63,83,22608,2407,3157896,6001,0,0,20200108
2481,107200,sgsapp,total,8,ios,old,total_total,605208,10814,31452,...,142,99,54,21766,2098,3016173,5860,0,0,20200109
2482,116570,sgsapp,total,8,ios,old,total_total,619042,10810,31522,...,115,70,92,23576,2018,3371842,6025,0,0,20200110
2483,125976,sgsapp,total,8,ios,old,total_total,660921,10902,32961,...,204,75,81,25186,2185,3748996,6391,0,0,20200111

In [117]:
set(df.os.values)

{'android', 'ios'}

In [119]:
set(df.user_obj.values)

{'new', 'old'}

In [152]:
res = engine.execute(f"show full columns from feed_abtest_video_type_common_daily")
colnames = [x[0] for x in res.fetchall()]
colnames[1] = 'product_name'
res = engine.execute(f"select * from feed_abtest_video_type_common_daily where date BETWEEN '20200106' AND '20200112'")
df = pd.DataFrame.from_dict(res)
df.columns = colnames
df[df.date=='20200106'][df.product_name=='sgsapp'][df.abtest=='16'][df.data_obj=='total_recommend'][df.video_type=='1']

/home/gezi/env/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

,id,product_name,video_type,abtest,os,user_obj,data_obj,dis,dis_user,refresh_times,...,favor,unlike,share,click_back,click_back_user,duration,finished,back_duration,list_duration,date
1076,75336,sgsapp,1,16,android,old,total_recommend,2099817,111750,52141,...,264,149,153,49418,13307,6931206,4873,0,0,20200106
1084,75352,sgsapp,1,16,ios,new,total_recommend,10104,885,6,...,0,0,0,34,18,4007,12,0,0,20200106
1582,76348,sgsapp,1,16,android,new,total_recommend,127294,9521,507,...,4,6,1,2139,863,107684,111,0,0,20200106
1884,76952,sgsapp,1,16,ios,old,total_recommend,139776,10651,3182,...,27,9,10,3309,612,557136,1133,0,0,20200106

In [149]:
res = engine.execute(f"show full columns from feed_abtest_daily")
colnames = [x[0] for x in res.fetchall()]
colnames[1] = 'product_name'
res = engine.execute(f"select * from feed_abtest_daily where date BETWEEN '20200106' AND '20200112'")
df = pd.DataFrame.from_dict(res)
df.columns = colnames
df[df.date=='20200106'][df.product_name=='sgsapp'][df.abtest==16][df.data_obj=='recommend_ge6511_weight_mean_video']

/home/gezi/env/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

,id,product_name,abtest,os,user_obj,data_obj,dis,dis_user,refresh_times,real_dis,...,favor,unlike,share,click_back,click_back_user,duration,finished,back_duration,list_duration,date
528,1291362,sgsapp,16,total,total,recommend_ge6511_weight_mean_video,2380301,133020,0,510924,...,295,164,164,55073,14934,7631870,6155,NaN,NaN,20200106

In [153]:
111750 + 885 + 9521 + 10651

132807

In [157]:
res = engine.execute(f"show full columns from feed_abtest_video_type_common_daily")
colnames = [x[0] for x in res.fetchall()]
colnames[1] = 'product_name'
res = engine.execute(f"select * from feed_abtest_video_type_common_daily where date BETWEEN '20191012' AND '20200112'")
df = pd.DataFrame.from_dict(res)
df.columns = colnames
df.data_obj

0              total_total
1              total_total
2              total_total
3              total_total
4              total_total
               ...
64671    quality_recommend
64672        quality_total
64673        quality_total
64674     quality_relative
64675     quality_relative
Name: data_obj, Length: 64676, dtype: object

In [158]:
set(df.data_obj.values)

{'quality_recommend',
 'quality_relative',
 'quality_total',
 'total_recommend',
 'total_relative',
 'total_total'}

In [159]:
df.date.min()

'20191227'

In [167]:
sql = '''
SELECT * FROM feed_abtest_daily WHERE product = 'newmse'
AND abtest in (5,6,7,4) 
AND date BETWEEN  '20191104'  AND  '20200113' 
AND user_obj = 'total' AND os = 'total'
'''

In [168]:
res = engine.execute(sql)

In [169]:
df = pd.DataFrame.from_dict(res)

In [170]:
df

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,823246,newmse,4,total,total,article,6862559,169921,0,2047748,...,0,0,0,254298,34243,19380274,254298,NaN,NaN,20191104
1,827922,newmse,4,total,total,article,6640256,164777,0,2035077,...,0,0,0,247433,34091,19149008,247433,NaN,NaN,20191105
2,832592,newmse,4,total,total,article,7367226,175396,0,2179671,...,0,0,0,267484,35528,21009222,267484,NaN,NaN,20191106
3,837262,newmse,4,total,total,article,7226366,174142,0,2066595,...,0,0,0,241160,34227,18622140,241160,NaN,NaN,20191107
4,851202,newmse,4,total,total,article,7471640,176182,0,2129563,...,0,0,0,255930,34402,19357578,255930,NaN,NaN,20191108
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2115,1299900,newmse,7,total,total,video,4312132,163851,0,841828,...,0,0,0,129544,18008,14409086,129544,NaN,NaN,20200108
2116,1304620,newmse,7,total,total,video,4339695,164298,0,875124,...,0,0,0,129873,17972,13645039,129873,NaN,NaN,20200109
2117,1309340,newmse,7,total,total,video,4386781,164825,0,876581,...,0,0,0,135784,18378,14179399,135784,NaN,NaN,20200110
2118,1314060,newmse,7,total,total,video,4546601,167467,0,960303,...,0,0,0,150971,19431,15789618,150971,NaN,NaN,20200111
2119,1318780,newmse,7,total,total,video,4571103,167587,0,948722,...,0,0,0,150813,18969,15413901,150813,NaN,NaN,20200112

In [171]:
res = engine.execute(f"show full columns from feed_abtest_daily")
colnames = [x[0] for x in res.fetchall()]
colnames[1] = 'product_name'

In [172]:
df.columns = colnames

In [175]:
set(df.data_obj.values)

{'article',
 'recommend',
 'recommend_article',
 'recommend_small_video',
 'recommend_video',
 'small_video',
 'total',
 'video'}

In [11]:
res = engine.execute(f"show full columns from feed_abtest_video_type_common_hourly")
colnames = [x[0] for x in res.fetchall()]
colnames[1] = 'product_name'
res = engine.execute(
                '''SELECT * FROM feed_abtest_video_type_common_hourly 
                WHERE product = 'sgsapp'
                AND abtest in ('8','4','5','6') 
                AND datetime BETWEEN '2020010603' AND '2020011408'
                AND video_type not in ('-1', 'NULL')'''
)
df = pd.DataFrame.from_dict(res)
df.columns = colnames
df

,id,product_name,video_type,abtest,data_obj,dis,dis_user,refresh_times,real_dis,real_dis_user,...,praise,favor,unlike,share,click_back,click_back_user,duration,finished,date,datetime
0,375444,sgsapp,0,4,quality_recommend,27330,1268,2288,14982,1252,...,5,24,2,8,1827,437,180404,929,20200106,2020010603
1,380124,sgsapp,0,4,quality_recommend,24702,1260,2083,14028,1244,...,12,41,14,9,1812,447,196559,946,20200106,2020010604
2,382448,sgsapp,0,4,quality_recommend,36859,1919,3113,19773,1887,...,1,33,10,22,2446,669,247445,1234,20200106,2020010605
3,387162,sgsapp,0,4,quality_recommend,79400,4008,6814,41850,3947,...,4,41,29,29,4601,1300,459015,2246,20200106,2020010606
4,392092,sgsapp,0,4,quality_recommend,126547,6424,10822,66425,6327,...,5,99,26,56,7481,2151,700260,3729,20200106,2020010607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18619,1232942,sgsapp,total,8,total_total,286878,7048,13309,90024,7724,...,36,103,57,44,15165,1879,1240194,4663,20200114,2020011401
18620,1235402,sgsapp,total,8,total_total,204230,5037,9609,66414,5446,...,20,74,122,36,10287,1319,868203,3086,20200114,2020011402
18621,1239736,sgsapp,total,8,total_total,162862,3980,7704,51122,4342,...,16,52,69,28,7147,996,648076,2134,20200114,2020011403
18622,1244502,sgsapp,total,8,total_total,139135,3729,6533,46739,4003,...,13,57,23,18,5657,949,585411,1683,20200114,2020011404
18623,1247186,sgsapp,total,8,total_total,182895,4762,8437,60944,5065,...,21,45,46,29,7250,1230,801718,2115,20200114,2020011405