In [2]:
import pandas as pd
from tqdm import tqdm
import json
import time
import gezi

In [3]:
dcs = []
for k in tqdm(range(30)):
  d = gezi.read_parquet(f'../input/train/part_{k + 1}/context.parquet')
  d = d[d.label==1][['did', 'vid', 'timestamp']]
  d['day'] = k + 1
  dcs += [d]
dc = pd.concat(dcs)

100%|██████████| 30/30 [00:45<00:00,  1.53s/it]

In [4]:
dc = dc.sort_values(['did', 'timestamp'], ascending=[True, False])

In [5]:
dc

                                      did         vid   timestamp  day
749981   000018568561880a0ab2e712c24fd935  1933869142  1426227375   22
749983   000018568561880a0ab2e712c24fd935   622642288  1426227374   22
749988   000018568561880a0ab2e712c24fd935  3913676406  1426222662   22
749993   000018568561880a0ab2e712c24fd935  2872596680  1426222662   22
2330358  000022506218ddedd0d064a96d07b6c5  1867735501  1426667019   27
...                                   ...         ...         ...  ...
2824023  ffffed8bb4589077e9f33b365a1a5a4a  2449410198  1426576121   26
63233    fffff4ef877b6ab7f84e316dd88624db  2019499855  1426848532   29
63241    fffff4ef877b6ab7f84e316dd88624db  4153053381  1426848532   29
68597    fffff4ef877b6ab7f84e316dd88624db  1612471931  1425749772   17
68592    fffff4ef877b6ab7f84e316dd88624db  2593718793  1425749770   17

[6326281 rows x 4 columns]

In [10]:
x = dc.groupby('did', as_index=False).count()
x

                                      did  vid  day
0        000018568561880a0ab2e712c24fd935    4    4
1        000022506218ddedd0d064a96d07b6c5    3    3
2        00002ad59519acc2b153c62da76a0fd0    1    1
3        00002f7f7abc1e5aae45f774a3a44478    6    6
4        00003fc63ff11ea88d241d52d9bcc83a    1    1
...                                   ...  ...  ...
1177345  ffffd0ff4ed3b61458e1473373d9ce02    1    1
1177346  ffffd77a99fc2d36f60faf962c3225ee    1    1
1177347  ffffeaa8cc4da28613264765faf6edd1    2    2
1177348  ffffed8bb4589077e9f33b365a1a5a4a    1    1
1177349  fffff4ef877b6ab7f84e316dd88624db    4    4

[1177350 rows x 3 columns]

In [11]:
x[x.did=='015675e2f6c3d05b0148d375c8525c27']

                                   did  vid  day
6161  015675e2f6c3d05b0148d375c8525c27   16   16

In [12]:
dc[dc.did=='015675e2f6c3d05b0148d375c8525c27']

                                    did         vid  day
77765  015675e2f6c3d05b0148d375c8525c27  3535563902    5
77789  015675e2f6c3d05b0148d375c8525c27  2391498716    5
78016  015675e2f6c3d05b0148d375c8525c27  2408359345    6
72701  015675e2f6c3d05b0148d375c8525c27  3091998066    8
80054  015675e2f6c3d05b0148d375c8525c27  1490674349    9
80069  015675e2f6c3d05b0148d375c8525c27  1803422432    9
80078  015675e2f6c3d05b0148d375c8525c27   772080798    9
80097  015675e2f6c3d05b0148d375c8525c27  1989771416    9
88053  015675e2f6c3d05b0148d375c8525c27  2566433568   12
69834  015675e2f6c3d05b0148d375c8525c27  2441337972   13
73732  015675e2f6c3d05b0148d375c8525c27  3662769015   20
74251  015675e2f6c3d05b0148d375c8525c27  3804715216   21
87660  015675e2f6c3d05b0148d375c8525c27   877648723   22
83763  015675e2f6c3d05b0148d375c8525c27  2600015807   23
75992  015675e2f6c3d05b0148d375c8525c27  1256541217   29
87270  015675e2f6c3d05b0148d375c8525c27  2808004623   30

In [14]:
dc.to_csv('../input/all/clicks.csv', index=False)

In [15]:
de = gezi.read_parquet('../input/eval/user.parquet')

In [17]:
de[de.did.isin(set(dc.did))]

,did,watch
9,0310cbb3d2f29da1e98d87bd37dac059,"[[1426583790, 1976078062], [1426567661, 339431..."
10,031104075810b56b2e6ed59eca5b6098,"[[1427030411, 1689864761], [1426992917, 232960..."
22,06cb1efe56dc34bafe7187bb363af4c2,"[[1426899577, 3867147444], [1426586161, 538953..."
27,083376ee3d0d609cb9a418e44342c1e4,"[[1426562766, 664976009], [1426560331, 2091172..."
34,0a798b9bc15375606d49ac25aac57fec,"[[1426953675, 353146523], [1426953587, 5515621..."
...,...,...
156254,fa35cd4d57aef461d45ba682e2079c72,"[[1427039276, 3216082846], [1427039274, 221092..."
156256,faec372e700d78f9517599016d23682d,"[[1427039918, 3027248510], [1427038028, 321608..."
156261,fcd106d9f67379ed20e521f2bd91e4c3,"[[1426892304, 1176032128], [1426849844, 624403..."
156267,fe9f43a44955662459785db59e0e5209,"[[1427038575, 1653383727], [1427014419, 179670..."
156271,ff82b8247eaf6a9fe24235985c3215cb,"[[1426680642, 4160178488], [1426677797, 123791..."

In [47]:
len(de[de.did.isin(set(dc.did))]) / len(de)

0.14893167725710776

In [36]:
did = de.did.sample(1).values[0]
did

'b3d3473cb8cdaccf5fab045192ff932f'

In [18]:
len(de)

156273

In [20]:
def gtime(timestamp):
  x = time.localtime(timestamp)
  return f'{x.tm_mon}-{x.tm_mday}-{x.tm_hour}-{x.tm_min}'

In [26]:
def get_dw(did):
  watches = de[de.did==did].watch.apply(json.loads).values[0]
  dw = pd.DataFrame({'timestamp':[x[0] for x in watches], 'vid': [x[1] for x in watches], 
                   'time_str': [gtime(x[0]) for x in watches]})
  return dw

In [37]:
get_dw(did)

     timestamp         vid    time_str
0   1427029725  1653383727   3-22-21-8
1   1427028162  1796707992  3-22-20-42
2   1427011700  2938305942   3-22-16-8
3   1427011687  3061456451   3-22-16-8
4   1427011412    78776638   3-22-16-3
5   1427011341   818518456   3-22-16-2
6   1427011325  1241012114   3-22-16-2
7   1426956417  1434610359   3-22-0-46
8   1426956271  3872985531   3-22-0-44
9   1426956167   621688134   3-22-0-42
10  1426955933  3015419077   3-22-0-38
11  1426955801  2137624582   3-22-0-36
12  1426955682  3462130625   3-22-0-34
13  1426955576  2517567278   3-22-0-32
14  1426955466  2713919673   3-22-0-31
15  1426955456  3921781171   3-22-0-30
16  1426954244   631198932   3-22-0-10
17  1426952636  3037097982  3-21-23-43
18  1426863513  1357406620  3-20-22-58
19  1426860670  2892202735  3-20-22-11
20  1426858531  2582119738  3-20-21-35
21  1426851093  3386773930  3-20-19-31
22  1426848892  3770101990  3-20-18-54
23  1426843922  2041921403  3-20-17-32
24  1426826059   126224250  3-20-12-34
25  1426775975  4136212228  3-19-22-39
26  1426773540  2537624856  3-19-21-59
27  1426770582  1647147474   3-19-21-9
28  1426769931  3380550257  3-19-20-58
29  1426685688  4252312922  3-18-21-34
30  1426685089  2890387473  3-18-21-24
31  1426685000   960670685  3-18-21-23
32  1426684886  4057425946  3-18-21-21
33  1426684839  2931259381  3-18-21-20
34  1426684776  3027248510  3-18-21-19
35  1426684701  2523674046  3-18-21-18
36  1426684599  3435242798  3-18-21-16
37  1426684471  3844996456  3-18-21-14
38  1426669419  2152420240   3-18-17-3
39  1426667147  2641330672  3-18-16-25
40  1426664734  4150073433  3-18-15-45
41  1426664706  3555148732  3-18-15-45
42  1426604624   894801038   3-17-23-3
43  1426602236  2085397717  3-17-22-23
44  1426599905  2350055813  3-17-21-45
45  1426597686    82883498   3-17-21-8
46  1426589951  2988655445  3-17-18-59
47  1426589662  1402520407  3-17-18-54
48  1426589572  1556588601  3-17-18-52
49  1426565578   137363120  3-17-12-12

In [38]:
set(get_dw(did).vid) & set(dc[dc.did==did].vid)

{3037097982}

In [40]:
len(set(get_dw(did).vid) | set(dc[dc.did==did].vid))

77

In [41]:
dc[dc.did==did].vid

2725526    1626920809
2782745    1840098045
2782748     559115869
2782750    4276937968
2782760    3334891124
2782779    2774899299
2782792    2202786312
2782808    1962531920
2782811    1627682075
2782830    1589744395
2704756    2553940831
2257049    1505999633
2257074    4139632431
2257081    1968527755
2257120    1032714956
2270335    3528805420
2468870    3560206024
2468871    3314418330
2468873    2505281056
2468879       9256216
2469004    4139423282
2469018    3783061137
2469078     377230719
2469140    2385624562
2469194    3849010762
2469214    3898034810
3100785    3097746560
3100786    3037097982
Name: vid, dtype: int64

In [43]:
len(set(dc[dc.did==did].vid) - set(get_dw(did).vid))

27

In [46]:
len(set(get_dw(did).vid) - set(dc[dc.did==did].vid))

49